* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex;
}

.left-side {
    width: 65vw;
    height: 100vh;
    background: url(/static/img/imag.png);
    background-size: cover;
}

.right-side {
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}


header {
    margin-bottom: 2rem;
    color: #17161F;
}

header h1 {
    margin-bottom: 1rem;
}

header p {
    color: #555;
    font-size: 1.1rem;
}

form {
    width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-title {
    margin-bottom: .4rem;
    font-size: 17px;
}

.form-group input[type=text],
.form-group select {
    padding: 14px 20px;
    border: 1.5px solid #e3e6f0;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
}

.form-group input[type=text]::placeholder {
    border-radius: 8px;
    font-size: 17px;
}
.checkbox{
    background-color: #e25c0e;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input[type=checkbox] {
    cursor: pointer;
    accent-color:#FF6002;

}

.red-color {
    color: red;
}

.submit-btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #FF6002;
    color: #f3f3f3;
    padding: 1rem;
    font-size: 19px;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background-color: #e25c0e;
}

.hide {
    display: none;
}

@media (max-width: 1470px) {
    form {
        width: 450px;
    }
}

@media (max-width: 1050px) {
    form {
        width: 350px;
    }
}