<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <style>
        /* Seu estilo CSS permanece o mesmo */
    </style>
</head>
<body>

    <div class="profile-container">
        <!-- Foto de Perfil -->
        <div class="profile-photo">
            <!-- A foto de perfil será carregada a partir da sessão -->
            <img src="{{ foto_perfil }}" alt="Foto de Perfil">
        </div>

        <!-- Formulário -->
        <div class="form-container">
            <div class="form-left">
                <div class="form-group">
                    <label for="nome-social">Nome social / Apelido</label>
                    <!-- O nome será carregado da sessão -->
                    <input type="text" id="nome-social" name="nome-social" value="{{ nome }}" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <!-- O e-mail será carregado da sessão -->
                    <input type="email" id="email" name="email" value="{{ email }}" required>
                </div>

                <div class="form-group">
                    <label for="curriculo">Link do currículo Lattes / LinkedIn / ResearchGate</label>
                    <!-- Aqui estamos preenchendo o campo com o valor do currículo passado do backend -->
                    <input type="url" id="curriculo" name="curriculo" value="{{ curriculo }}" required>
                </div>
            </div>

            <div class="form-right">
                <!-- Campo Curso de Estudo -->
                <div class="form-group">
                    <label for="curso_discente">Curso de estudo</label>
                    <!-- Preenchendo de acordo com o tipo de usuário -->
                    <input type="text" id="curso_discente" name="curso_discente" value="{{ curso_discente }}" required>
                </div>

                <!-- Campo Curso Lecionado -->
                <div class="form-group">
                    <label for="curso_docente">Curso que leciona</label>
                    <input type="text" id="curso_docente" name="curso_docente" value="{{ curso_docente }}" required>
                </div>

                <div class="form-group">
                    <label for="cluster">Cluster</label>
                    <input type="text" id="cluster" name="cluster" value = "{{ cluster}}" required>
                </div>
            </div>
        </div>
        <a href="{{ url_for('main.home') }}">Ir para Home</a>
    </div>

</body>
</html>
