<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Login</title>
    <link rel="stylesheet" href="/static/css/cadastro.css">
    <script src="/static/js/script.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="left-side">
            <!-- Background no CSS -->
        </div>

        <div class="right-side">
            <form action="{{ url_for('main.process_first_login') }}" method="POST">
                <header>
                    <h1>Precisamos te conhecer!</h1>
                    <p>Preencha os dados do primeiro acesso.</p>
                </header>

                <div class="form-group">
                    <label for="name" class="input-title">Apelido ou nome social<span class="red-color">*</span></label>
                    <input type="text" id="name" name="nome_social" placeholder="Digite aqui o seu nome" required>
                </div>

                <div class="form-group">
                    <label for="curriculo" class="input-title">Link do currículo lattes/linkedin/researchGate<span class="red-color">*</span></label>
                    <input type="text" id="curriculo" name="curriculo" placeholder="Cole o link aqui" required>
                </div>

                <div class="form-group">
                    <label class="input-title">Tipo de usuário<span class="red-color">*</span></label>
                    <div class="checkbox-group">
                        <label for="colaborador">
                            <input type="checkbox" id="colaborador" name="role" value="colaborador">
                            Colaborador
                        </label>

                        <label for="discente">
                            <input type="checkbox" id="discente" name="role" value="discente">
                            Discente
                        </label>

                        <label for="docente">
                            <input type="checkbox" id="docente" name="role" value="docente">
                            Docente
                        </label>
                    </div>
                </div>

                <div class="form-group hide student-area">
                    <label for="curso_discente" class="input-title">Curso de estudo<span class="red-color">*</span></label>
                    <select id="curso-estudo" name="curso_discente">
                        <option value="" disabled selected>Selecione um curso</option>
                        <option value="Design">Design</option>
                        <option value="Ciencia da Computação">Ciência da Computação</option>
                        <option value="Gestao de TI">Gestão de Tecnologia da Informação</option>
                        <option value="Sistemas de Informação">Sistemas de Informação</option>
                    </select>
                </div>

                <div class="form-group hide teacher-area">
                    <label for="curso_docente" class="input-title">Curso que leciona<span class="red-color">*</span></label>
                    <div class="checkbox-group">
                        <input type="checkbox" name="curso_docente[]" value="Design">
                        <label for="leciona-design">Design</label>

                        <input type="checkbox" name="curso_docente[]" value="Ciencia da Computacao">
                        <label for="leciona-ciencia">Ciência da Computação</label>

                        <input type="checkbox" name="curso_docente[]" value="Gestao de Tecnologia da Informação">
                        <label for="leciona-gestao">Gestão de Tecnologia da Informação</label>
                    </div>
                </div>

                <div class="form-group hide colaborator-area">
                    <label for="cluster" class="input-title">Cluster<span class="red-color">*</span></label>
                    <select id="cluster" name="cluster">
                        <option value="" disabled selected>Selecione um cluster</option>
                        <option value="cluster 1">Cluster 1</option>
                        <option value="cluster 2">Cluster 2</option>
                        <option value="cluster 3">Cluster 3</option>
                    </select>luster 
                </div>

                <button type="submit" class="submit-btn">Continuar</button>
            </form>
        </div>
    </div>
</body>

</html>
