<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar produções</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/producoes.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/static/img/cesar.png" alt="Logo CESAR" class="logo-img">
        </div>
        <nav class="nav">
            <a href="{{ url_for('main.home') }}" class="nav-link">Registrar produção</a>
            <a href="{{ url_for('main.publicacoes') }}" class="nav-link">Visualizar produções</a>
        </nav>
        <div class="profile-summary">
            <img src="{{ session['user'].get('picture', 'https://via.placeholder.com/150') }}" alt="Foto de Perfil" class="profile-img">
            <a href="{{ url_for('main.perfil') }}" class="profile-link">
                <span class="profile-name">{{ session.user['name'] }}</span>
            </a>
        </div>
    </header>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    
    <div class="main-content">
        <h1>Suas produções registradas</h1>
        <div class="card-container">
            {% for producao in producoes %}
            <div class="card">
                <h3>{{ producao[1] }}</h3>  <!-- nome_producao -->
                <p>💬<strong>Descrição:</strong>  {{ producao[2] }}</p>  <!-- descricao -->
                <p>↺ <strong>Tipo: </strong> {{ producao[3] }}</p>  <!-- tipo -->
                <p>↺ <strong>Veículo:</strong> {{ producao[4] }}</p>  <!-- veiculo -->
                <p>↺ <strong>Autor:</strong> {{ producao[5] }}</p>  <!-- nome -->
    
                <!-- Formulário para redirecionar para a produção detalhada -->
                <form action="{{ url_for('main.producao_detalhada') }}" method="POST">
                    <input type="hidden" name="producao_id" value="{{ producao[0] }}">  <!-- ID da produção -->
                    <button type="submit">Visualizar Produção</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="ft">
        Feito por Maria Eduarda Azevedo, Guilherme Gibson, Evelyn Melissa, Ewerton e Odacy
    </footer>
</body>
</html>
